layout {
    swap_floating_layout {
        floating_panes max_panes=1 name="Popterm" {
            pane x="50%" y="5%" width="45%" height="90%"
        }
        floating_panes max_panes=2 name="Popterm" {
            pane x="50%" y="5%" width="45%" height="45%"
            pane x="50%" y="50%" width="45%" height="45%"
        }
    }
    // size=1 for some reason cannot be added to pane_template, but _can_
    // be added to
    pane_template borderless=true name="zjstatus" {
        plugin location="file:~/.local/bin/zjstatus.wasm" {
            format_left  "{mode}#[fg=black,bg=blue,bold]{session}  #[fg=blue,bg=#181825]{tabs}"
            format_right "#[fg=#181825,bg=#b1bbfa]{datetime}"
            format_space "#[bg=#181825]"

            mode_normal  "#[bg=blue] "

            tab_normal              "#[fg=#181825,bg=#4C4C59] #[fg=#000000,bg=#4C4C59]{index}  {name} #[fg=#4C4C59,bg=#181825]"
            tab_normal_fullscreen   "#[fg=#6C7086,bg=#181825] {index} {name} [] "
            tab_normal_sync         "#[fg=#6C7086,bg=#181825] {index} {name} <> "
            tab_active              "#[fg=#181825,bg=#ffffff,bold,italic] {index}  {name} #[fg=#ffffff,bg=#181825]"
            tab_active_fullscreen   "#[fg=#9399B2,bg=#181825,bold,italic] {index} {name} [] "
            tab_active_sync         "#[fg=#9399B2,bg=#181825,bold,italic] {index} {name} <> "

            datetime          "#[fg=#6C7086,bg=#b1bbfa,bold] {format} "
            datetime_format   "%A, %Y %b %d %H:%M"
            datetime_timezone "America/New_York"
        }
    }
    tab_template name="vim_tab" {
        pane focus=true borderless=true command="~/.dotfiles/bin/supervim" name="vim"
        zjstatus size=1
    }

    default_tab_template {
        pane split_direction="vertical" {
            pane focus=true
            pane
        }
        zjstatus size=1
    }

    vim_tab
}
