gui:
  nerdFontsVersion: "3"
  statusPanelView: "allBranchesLog"
  timeFormat: "06/01/02 Mon"
  shortTimeFormat: "15:04"
git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
  branchLogCmd: git log --graph --color=always --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  allBranchesLogCmds:
    - git log --graph --color=always --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
customCommands:
  - key: 'l'
    context: 'files'
    command: 'git auto -y'
    description: 'Generate commit message via LLM'
notARepository: 'quit'
